{
    "dirs": {
        "working_dir": "/srv/git",
        "remote_dir": "/srv/remote"
    },
    "git": {
        "git_dst": "/srv/git"
    },
    "spawn": {
        "uid": 418,
        "gid": 428
    },
    "env_file_path": ".env"
}