{
    "dirs": {
        "working_dir": "/srv/git",
        "remote_dir": "/srv/remote"
    },
    "git": {
        "git_dst": "/srv/git"
    },
    "user": {
        "uid": 48,
        "gid": 48
    },
    "env_file_path": "/srv/.env"
}
